project:
  type: website
  render: 
    - "*.qmd"
    - "!cv.Rmd"

website:
  title: "Monica Thieu, PhD"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: posts.qmd
        text: Blog
      - href: https://cocoa-lab-usd.netlify.app
        text: Research
      - sidebar:teaching
      - game-shows.qmd
      - href: contact.qmd
        text: Contact

  sidebar:
    - id: teaching
      title: Teaching
      contents:
        - teaching/recommendations.qmd
        - teaching/teaching-portfolio-landing.qmd
format:
  html:
    theme: 
      - pulse
      - custom.scss
    css: styles.css
    toc: true

execute:
  freeze: auto


